# copy from redmine-importer
# http://www.martinliu.info/2009/04/redmine_importer-redmine-csv-import-plugin/

label.tabular{
text-align: right;
width: 270px;
display: inline-block;
}

label.tabular2{
text-align: right;
width: 100px;
display: inline-block;
}
